@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .spinner {
    @apply inline-block w-4 h-4 border-2 border-current border-t-transparent rounded-full animate-spin;
  }

  .spinner-large {
    @apply inline-block w-12 h-12 border-4 border-primary-600 border-t-transparent rounded-full animate-spin;
  }
}
